node_modules
**/node_modules

.git
.github
.gitignore

.turbo
**/.turbo
.codegraph

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

packages/db/generated
apps/engine/src/snapshots

dist
build
out
.next
coverage

assets
*.md
LICENSE
*.pem
npm-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
